<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'logo.png' %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <nav class="nav">
      <li class="nav-item">
          <%= link_to "La chaise", "/chair", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Son histoire", "#", class: "nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to "Points de vente", "#", class: "nav-link" %>
        </li>
        </nav>
        <li class="nav-item">
          <%= link_to "Mon panier",'#', class: "nav-link" %>
        </li>
      <% else %>
      <nav class="nav">
      <li class="nav-item">
          <%= link_to "La chaise", "/chair", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Son histoire", "/story", class: "nav-link" %>
        </li>
          <li class="nav-item">
          <%= link_to "Points de vente", "/stores", class: "nav-link" %>
        </li>
        </nav>
        <li class="nav-item">
          <%= link_to "Mon panier",'#', class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
